#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.numbers {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.numbers:hover {
  outline: 2px solid #808080;
  box-shadow: 0 0 15px 5px #deb887;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto 30px auto;
  border: 3px solid #808080;
  border-radius: 10px;
  box-shadow: inset 0 0 18px -2px #808080
}

.numbers-box {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}